*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial,sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 11vh;
    font-size: 12px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 18%;
    margin-right: 20px;
}

li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #0f0f0f;
}
.button a{
    background-color: rgb(49, 121, 255);
    color: white;
    padding: 7px 12px 7px 12px;
    font-weight: bold;

}
.brand{
    text-align: center;
    margin-top: 6.6%;
}
.brand input{

    margin-top: 25px;
    margin-bottom: 25px;
    padding: 7px 40px 7px 40px;
    font-size: 14px;
    border-radius: 30px;
    width: 42%;
    min-height: 3em;
    border: 1px solid rgb(219, 219, 219);
    outline: none;
    background-color: #fff;
    background-image:url('search.svg');
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 15px 14px;
}

.brand input:hover, input:focus{
    box-shadow: 1px 1px 6px #d3d3d3;
}

.brand button{
    margin: 5px;
    padding: 6px 12px 6px 12px;
    min-height: 6.6vh;
    text-align: center;
    font-size: 14px;
    background-color: #f1f1f1;
    border: none;
    color:rgb(109, 109, 109);
}
.brand button:hover{
    border: 1px solid silver;
    cursor: pointer;
}
.brand p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;
}
footer{
    background-color: #ececec;
    min-height: 50px;
    color: rgba(0,0,0,.54);
    font-size: 14px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.flinks {
    width: 100%;
    margin: 30px;
    display: flex;
    justify-content: space-between;
}
.flink1{
    width: 50%;
    align-items: right;
    display: flex;
    justify-content: space-around;
}
.flink2{
    width: 30%;
    align-items: left;
    display: flex;
    justify-content: space-around;
}