*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    font-size: 12px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 18%;
    margin-right: 25px;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #0f0f0f;
}
.button a{
    background-color: dodgerblue;
    color: white;
    padding: 7px 12px 7px 12px;
    font-weight: bold;

}
.brand{
    text-align: center;
    margin-top: 7%;
}

.brand input{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 30px;
    width: 42%;
    min-height: 7.5vh;
    border: 1px solid silver;
}
.brand button{
    margin: 5px;
    padding: 10px;
    min-height: 7vh;
    text-align: center;
    font-size: 14px;
    background-color: #f1f1f1;
    border: none;
    color:darkslategray;
}
.brand button:hover{
    border: 1px solid silver;
    cursor: pointer;
}
.brand p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;
}